<header class="br-header small">
    <div class="container-lg">
      <div class="header-top">
        <div class="header-logo">
          <img src="assets/LogoSisPim.svg" alt="Logo SisPIM" />
          <span class="br-divider vertical"></span>
        </div>
        <div class="header-actions">
          <a href="/cadastros">Cadastros</a>
          <a href="/relatorios">Relatórios</a>
          <a href="/repositorio">Repositório</a>
        </div>
      <span class="br-divider vertical mx-half mx-sm-1"></span>
   
       
      
   
      <div class="header-login">
        <div class="header-sign-in">
          <button class="br-sign-in small" type="button" data-trigger="login"><i class="fas fa-user" aria-hidden="true"></i><span class="d-sm-inline">Entrar</span>
          </button>
        </div>
        <div class="header-avatar"></div>
      </div>

 


      </div>
    </div>
  </header>
  