:host {
  background: url('/assets/Bg_padrao_PIM.svg') no-repeat center center fixed;
  background-size: cover; /* Faz o background ocupar 100% da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;  /* Adicionei a largura total da viewport */
  margin: 0;
  padding: 0;
  position: absolute; /* Garante que o conteúdo expanda em relação à viewport */
  top: 0;
  left: 0;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    height: 300px;
    text-align: center;
  }

  .login-card img {
    max-width: 600px;
    margin-bottom: 1rem;
  }

  .login-button {
    display: flex;
    height: 39px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #1351B4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Rawline;
  }

  .login-button:hover {
    background: #0056b3;
  }